snippet emhead "Edgemesh File Header"
	/*
	 * 01000101 01000100 01000111 01000101
	 * 01001101 01000101 01010011 01001000
	 *
	 * Copyright © `strftime('%Y')` Edgemesh Corporation.
	 * All rights reserved.
	 */

snippet handler "API Route handler"
	import { Handler } from '@/utils/Handler'
	
	import type { IContext } from '@/types/IContext'

	export const ${1} = Handler({
		async handler (req: Request, ctx: IContext) {
			ctx.data = {}
		}
	})
